---
layout: archive
author_profile: true
---

{% include base_path %}

<p style="text-align:center;"><img src="images/these_photo.jpg"></p>

<p>
	I am currently a Software Development Engineer at Amazon and before that I was a Postdoc at <a href="http://www.inria.fr/en/">Inria</a> in the <a href="https://team.inria.fr/titane/">Titane team</a>.
</p>

<p>
	My research focuses on application of geometry for computational science.
	I am interested in both its theoretical (<a href="http://www.softsurfer.com/overview.htm">computational geometry</a>, <a href="http://www.cs.dartmouth.edu/%7Eafra/handbook/ct.pdf">computational topology</a>) and applied aspects (geometry processing, urban reconstruction).
</p>

<p>
	I am now discovering the fascinating world of Machine Learning and distributed computation.
</p>

<p>
	Additional info : 
	<br/><ul>
		<li> 
			<a href="/downloads/cv.pdf?attredirects=0"> CV</a>
		</li>
		<li>
			<a href="http://scholar.google.fr/citations?user=D0WjJlsAAAAJ&amp;hl=en">Google scholar page</a><br />
		</li>
	</ul><br/>
	<br/>
</p>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
