---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=8301609; 
    var sc_invisible=1; 
    var sc_security="919c0fd9"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="shopify visitor
    statistics" href="http://statcounter.com/shopify/"
    target="_blank"><img class="statcounter"
    src="//c.statcounter.com/8301609/0/919c0fd9/1/" alt="shopify
    visitor statistics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->    

  </body>
</html>
